body {
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    height: fit-content;
    position: relative;
    object-fit: contain;
}

.background {
    max-width: 100%;
    max-height: 100%;
}

.choiceContainer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 10px;
    min-width: 100px;
}

.choiceList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.choice {
    border-bottom: 1px solid rgba(0, 0, 0, 0.298);
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
}

.choice:last-child {
    border-bottom: none;
}

.choice:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.choice:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.708);
}

.panelContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
}

.targetsPanel {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.623);
    border-bottom-right-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 15px;
    width: 70%;
    max-width: 300px;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.targetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.targetImageContainer {
    background-color: rgba(128, 128, 128, 0.495);
    aspect-ratio: 1 / 1;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid rgba(216, 216, 216, 0.597);
}

.targetImageContainer.found {
    background-color: rgba(13, 207, 13, 0.352);
    border: 2px solid rgb(140, 255, 108);
}

.targetName {
    color: white;
}

.targetImage {
    max-width: 100%;
    max-height: 100%;
}

.clock {
    position: sticky;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    height: fit-content;
    padding: 20px;
    font-size: 32px;
    border-bottom-left-radius: 15px;
}